<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<form class="form-signin" th:action="@{/signup}"
			th:object="${usuario}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

			<label for="nombre" class="sr-only">Nombre</label> <input type="text"
				th:field="*{nombre}" id="nombre" class="form-control my-2"
				placeholder="Nombre" required autofocus /> <label for="apellido"
				class="sr-only">Apellido</label> <input type="text"
				th:field="*{apellido}" id="apellido" class="form-control my-2"
				placeholder="Apellido" required autofocus /> <label for="email"
				class="sr-only">Email address</label> <input type="email"
				th:field="*{email}" id="email" class="form-control my-2"
				placeholder="Email address" required autofocus /> <label
				for="password" class="sr-only">Password</label> <input
				type="password" th:field="*{password}" id="password"
				class="form-control my-2" placeholder="Password" required /> <label
				for="confirm_password" class="sr-only">Password</label> <input
				type="password" th:field="*{confirm_password}" id="confirm_password"
				class="form-control my-2" placeholder="Confirm password" required />


			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				up</button>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>